*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.container{
    background-color: #E5E5FD;
    border: 5px solid #0A4EFF;
    min-height: 100vh;
}
.content{
    max-width: 1000px;
    margin: 0 auto;
}

div img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* overflow: hidden; */
}
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-part h2{
    padding-right: 170px;

}
div h4{
    text-align: end;
    padding-top: 10px;
}
.header-part h4{
    padding-right:170px;
}
.mujib-1{
    padding-top: 50px;
}
.mujib-1 h1{
    padding-bottom: 20px;
}
.mujib-1 p{
    line-height:20px ;
    letter-spacing: 1px;
}
.mujib-2 h4{
    padding-top: 50px;
    text-align: start;
}
.mujib-2 ul{
    padding:20px 0;

}
.mujib-2 ul > li{
    padding-top: 5px;
    line-height:20px;
    letter-spacing: 1px;
}
.last-para{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: end;
    letter-spacing: 1px;
}